apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "dynatrace-oneagent-operator.commonlabels" . | nindent 4 }}
data:
  psp-operator.yaml: |
    apiVersion: policy/v1beta1
    kind: PodSecurityPolicy
    metadata:
      name: {{ .Release.Name }}
      annotations:
        seccomp.security.alpha.kubernetes.io/allowedProfileNames: "docker/default"
        apparmor.security.beta.kubernetes.io/allowedProfileNames: "runtime/default"
        seccomp.security.alpha.kubernetes.io/defaultProfileName: "docker/default"
        apparmor.security.beta.kubernetes.io/defaultProfileName: "runtime/default"
      labels:
        {{- include "dynatrace-oneagent-operator.commonlabels" . | nindent 8 }}
      ownerReferences:
      - apiVersion: v1beta1
        blockOwnerDeletion: true
        kind: Application
        name: {{ .Release.Name }}
        uid: ##UID##
    spec:
      privileged: false
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      requiredDropCapabilities:
        - ALL
      volumes:
        - "configMap"
        - "emptyDir"
        - "projected"
        - "secret"
        - "downwardAPI"
        - "persistentVolumeClaim"
      hostNetwork: false
      hostIPC: false
      hostPID: false
      runAsUser:
        rule: "MustRunAsNonRoot"
      seLinux:
        rule: "RunAsAny"
      supplementalGroups:
        rule: "RunAsAny"
      fsGroup:
        rule: "RunAsAny"
  psp-oneagent.yaml: |
    apiVersion: policy/v1beta1
    kind: PodSecurityPolicy
    metadata:
      name: dynatrace-oneagent
      annotations:
        seccomp.security.alpha.kubernetes.io/allowedProfileNames: "*"
      labels:
        {{- include "dynatrace-oneagent-operator.commonlabels" . | nindent 8 }}
      ownerReferences:
      - apiVersion: v1beta1
        blockOwnerDeletion: true
        kind: Application
        name: {{ .Release.Name }}
        uid: ##UID##
    spec:
      privileged: true
      allowPrivilegeEscalation: true
      allowedCapabilities:
        - "*"
      volumes:
        - "*"
      hostNetwork: true
      hostIPC: true
      hostPID: true
      hostPorts:
        - min: 0
          max: 65535
      runAsUser:
        rule: "RunAsAny"
      seLinux:
        rule: "RunAsAny"
      supplementalGroups:
        rule: "RunAsAny"
      fsGroup:
        rule: "RunAsAny"
  crd.yaml: |
    apiVersion: apiextensions.k8s.io/v1beta1
    kind: CustomResourceDefinition
    metadata:
      name: oneagents.dynatrace.com
      labels:
        {{- include "dynatrace-oneagent-operator.commonlabels" . | nindent 8 }}
      ownerReferences:
      - apiVersion: v1beta1
        blockOwnerDeletion: true
        kind: Application
        name: {{ .Release.Name }}
        uid: ##UID##
    spec:
      group: dynatrace.com
      names:
        kind: OneAgent
        listKind: OneAgentList
        plural: oneagents
        singular: oneagent
      scope: Namespaced
      version: v1alpha1
      subresources:
        status: {}
  oneagent.yaml: |
    apiVersion: dynatrace.com/v1alpha1
    kind: OneAgent
    metadata:
      name: {{ .Values.oneagent.name }}
      namespace: {{ .Release.Namespace }}
      labels:
        {{- include "dynatrace-oneagent-operator.commonlabels" . | nindent 8 }}
      ownerReferences:
      - apiVersion: v1beta1
        blockOwnerDeletion: true
        kind: Application
        name: {{ .Release.Name }}
        uid: ##UID##
    spec:
      apiUrl: {{ required "ApiUrl needs to be set!" .Values.oneagent.apiUrl}}
      tokens: {{ .Values.secret.name }}
      skipCertCheck: false
      serviceAccountName: {{ .Values.oneagentServiceAccount }}
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      args:
      - APP_LOG_CONTENT_ACCESS=1